{% extends 'components.html' %}
{% block header_block %}
     <header class="p-3 text-bg" style="background-color: #FF9218">

        <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li class="style_li"><a href="/" class="nav-link px-2 text-dark">Главная</a></li>
            {% if current_user.is_authenticated %}
            <li class="style_li"><a href="/statistics" class="nav-link px-2 text-dark">Статистика</a></li>
            {% endif %}
        </ul>

            <div class="text-end">
                {% if current_user.is_authenticated %}
                <a href="/logout" class="btn btn-outline-dark me-2">Выйти</a>

                {% else %}
                <a href="/login" class="btn btn-outline-dark me-2">Войти</a>
                <a href="/register" class="btn btn-outline-dark me-2">Зарегистрироваться</a>
                {% endif %}
            </div>

      </div>
    </div>
    </header>
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="alert alert-{{ cat }} text-center" style="white-space: pre-wrap;">{{ msg }}</div>
    {% endfor %}
{% endblock %}