{% extends 'base.html' %}
{% block main_content %}
<form method="post">
    {% for i in range(20) %}
        <h1 style="
    background-color: #f8f9fac7;
    padding: 15px;
    border-radius: 17px;
">{{ans[i]}}
    <input class="form-control" type="number" name="age_{{i}}" id="age" min="-30" max="1000"></h1>
    {% endfor %}
    <div class="d-grid gap-4 col-7 mx-auto">
        <p></p>
        <button type="submit" class="btn btn-warning btn-lg">Я все закончил</button>
    </div>
</form>
{% endblock %}
